extend layout 

block title 
    title Himalayan Bricks - Blog

block append style 
    style 
        include ../dist/css/blog_style.css

//- block append script
//-     script(src="/dist/js/blog_script.js" defer) 

block append content
    .blog-posts
        h1 Our latest Blog Posts 
        .blog-posts--card
            .blog-posts--card--post
                img(src="https://1.bp.blogspot.com/-Gis-eNiOpEc/YKdoo2Rv2KI/AAAAAAAAC-c/kWo55JtwgHw2g3QMvMBP2aNxujdygIgtACLcBGAsYHQ/w640-h362/Cement.jpg", alt="")
                h1 Cement Quality and Production in India  
                p Cement is one of the most essential construction materials that play a significant role in the development of infrastructure in India.
                a(href="/blog/cement-production-in-india" class="button") Read More >>
            .blog-posts--card--post
                img(src="https://4.imimg.com/data4/TC/IS/IMOB-43715702/images-8-500x500.jpg", alt="")
                h1 Bricks procution and types of Bricks
                p India is one of the largest brick-producing countries in the world, with a vast brick-making industry that is spread across different parts of the country.
                a(href="/blog/bricks-production-and-types" class="button") Read More >>
            .blog-posts--card--post
                img(src="https://www.pinoybisnes.com/wp-content/uploads/2016/05/steel.jpg", alt="")
                h1 Steel production and market in India
                p Steel is an essential commodity for India's economic growth, and it plays a crucial role in the country's infrastructure development.
                a(href="blog/steel-production-and-market" class="button") Read More >>