extend layout

block title 
    title Himalayan Bricks
block append style 
    style 
        include ../dist/css/contactRes_style.css

//- block append script
//-     script(src="/dist/js/home_script.js" defer) 

block append content 
    .contact-res
        h1 Thank you for contacting us! We will reply to you as soon as possible! 

        .contact-res-img 
            img(src="/public/img/undraw_Happy.png", alt="message received")

        a(href="/" class="button") Go to Home Page
