extend layout

block title 
    title Steel production and market in India - Himalayan Bricks

block append style 
    style 
        include ../../dist/css/blog_style.css

//- block append script
//-     script(src="/dist/js/blog_script.js" defer) 

block append content

    .blog-post-content 

        .head-img
            img(src="https://www.pinoybisnes.com/wp-content/uploads/2016/05/steel.jpg", alt="steel-production")

        h1 Steel production and market in India
        
        h2 Steel is an essential commodity for India's economic growth, and it plays a crucial role in the country's infrastructure development.
        p  Steel is used in various industries, including construction, transportation, energy, and manufacturing. India is the second-largest producer of steel in the world, after China. The steel industry in India has a long history and has gone through significant changes over the years. Currently, India has an annual steel production capacity of around 140 million tons, with more than 100 steel plants across the country.
        p The production of steel in India has undergone significant growth over the past few decades, with an average annual growth rate of 5.5% between 2010 and 2019. India's steel production is expected to continue to grow due to increasing demand from various sectors, including infrastructure, automotive, and construction.
        p The Indian steel market is highly competitive, with both domestic and international players. The demand for steel in India is driven by various factors, including government initiatives to improve infrastructure, increasing urbanization, and growth in the manufacturing sector. The per capita steel consumption in India is still low compared to other countries, providing a significant opportunity for future growth.
        p In recent years, the Indian government has taken several measures to support the growth of the steel industry, including the National Steel Policy 2017, which aims to increase the production capacity of the steel to 300 million tons by 2030. The government has also introduced various policies to encourage foreign investment in the sector, such as the production-linked incentive scheme for the steel industry.
        p Overall, steel production and the steel industry in India are essential for the country's economic growth and development. The steel sector is expected to continue to grow in the coming years, with increasing demand from various sectors and government support.