$font: 'Poppins', sans-serif;

$color: hsl(0, 0%, 100%);
$bgColor: hsl(0, 0%, 25%);

// $bgGradient: linear-gradient(45deg, #AD7BE9, #0E8388, #3E54AC, #c1668c);
$bgGradient: linear-gradient(to right top, #2F6EB1, #3170db, #0081d9, #008ed1, #0099c6, #1f9bc5, #2e9cc3, #3a9ec2, #2c98ca, #2c92d1, #3d8ad6, #5580d7);
$bgElement: #00000024;;
